.why-us{
    color: rgb(230, 102, 28);
    font-size: 1.5rem;
}
.Travel-us{

    font-weight: 500;
    font-size: 2.5rem;
    color:rgb(12, 14, 51);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.icons{
    font-size: 5rem;
    padding:1rem ;
    color:#fff;
}
.card-design{
    background-color: rgb(49, 49, 116);
}